*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#909396;
}

.wrapper{
    margin:0 auto;
    width:1000px;
}

/*menu*/
nav.menu ul {  
    list-style-type: none; 
    margin:0px;
    padding:0px;

}

nav.menu ul li{
    display:block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    position: relative;
    left: 1%;
}



nav.menu li{
   display: inline;
}

nav.menu li a{
   text-decoration:none;
   padding-left:4px;
   padding-right:4px;
   color:white;
   background: #909396;
}

nav.menu ul li a {
    text-decoration: none;
    color:black;
    padding:5px 20px;
    display:block;
}

nav.menu li a:hover{
    background-color:white;
    color:#909396;

} 

nav.menu ul ul{
    display:none;
    position: absolute;
}

nav.menu ul li:hover > ul{
    display: block;
}

